<h1><%= @article.title %></h1>
<p>
    Tags:
    <% @article.tags.each do |tag|%>
    <%= link_to tag.name, tag_path(tag)%>
    <%end%>
</p>
<p><%= @article.body %></p>
<br/>
<% if logged_in? %>
<%= link_to "Delete article", article_path(@article), method: :delete, data: {confirm: "do you really want to delete the article?"}%>
<br/>
<%= link_to "<< Edit article", edit_article_path %> 
<% end %>
<%= render partial: "comments/form" %>
<%= link_to "<< Back to articles", articles_path %>

<h2>Comments:<%= @article.comments.size%></h2>

<%= render partial: "articles/comment", collection: @article.comments %>